.kids{
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
    background-color: #BDE6FC;
    height: 70vh;
    overflow: hidden;
    position: relative;

    .txt{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 32%;
        top: 30%;
        
        .off{
            font-family: Tajawal;
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
        }
        h2{
            color: #9363B5;
            text-align: right;
            font-family: Tajawal;
            font-size: 3rem;
            font-style: normal;
            font-weight: 900;
        }
    }
    .kid_img2{
        height: 80%;
        width: 22rem;
        position: absolute;
        right: 10%;
    }
    .kid_img{
        height: 80%;
        width: 22rem;
        position: absolute;
        bottom: 0;
        left: 10%;
}
    .time{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap:1rem;
        margin-top: 1rem;
        span{
            text-align: center;
            font-family: Tajawal;
            font-size: 2rem;
            font-style: normal;
            font-weight: 600;
        }
    }
}