@use '../../styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600&family=Istok+Web:wght@400;700&family=Roboto:wght@100;300;400;500&family=RocknRoll+One&family=Tajawal:wght@200;300;400;500&display=swap');

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;

    .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Tajawal;
        gap: .8rem;
        h2{
            font-size: 2.5rem;
            font-weight: 500;
        }
        p{
            font-weight: 400;
            font-size: 1.5rem;
        }
        button{
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            -ms-border-radius: 20px;
            -o-border-radius: 20px;
            background-color: var(--main-color);
            padding: .5rem 2rem;
            border: none;
            color: var(--white-color);
            font-family: Tajawal;

}

    }
   

    .imgs{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        place-items: center;

        .ellip1{
            width: 21rem;
            grid-area: 1 / 1;
        }
        .ellip2{
            width: 28rem;
            grid-area: 1 / 1;

        }
        .ellip3{
            width: 26rem;
            grid-area: 1 / 1;
        }
}
}



:global(.mySwiper){

        background-color: var(--back-color) !important;
        padding-bottom: 1rem !important;
    :global(.swiper-button-next), 
    :global(.swiper-button-prev){
        display:flex;
        justify-content:center;
        align-items:center;
        color:var(--white-color) !important;
        background:var(--main-color) !important;
        width:45px !important;
        height:45px !important;
        border-radius: 50% !important;
        transition:0.4s !important;
        border: 0 !important;
        -webkit-border-radius: 50% !important;
        -moz-border-radius: 50% !important;
        -ms-border-radius: 50% !important;
        -o-border-radius: 50% !important;
        -webkit-transition:0.4s !important;
        -moz-transition:0.4s !important;
        -ms-transition:0.4s !important;
        -o-transition:0.4s !important;
} 
     
    :global(.swiper-button-next:hover), 
    :global(.swiper-button-next.active), 
    :global(.swiper-button-prev:hover), 
    :global(.swiper-button-prev:active){ 
     background-color:var(--main-color) !important; 
    } 
     
    :global(.swiper-button-next::after), 
    :global(.swiper-button-prev::after){ 
        font-size:.8rem !important; 
    } 
     
    :global(.swiper-button-next){
    top:100% !important;
    right:50% !important;
    transform: translate(-110%,-130%)!important;
    -webkit-transform: translate(-110%,-130%)!important;
    -moz-transform: translate(-110%,-130%)!important;
    -ms-transform: translate(-110%,-130%)!important;
    -o-transform: translate(-110%,-130%)!important;
} 
     
    :global(.swiper-button-prev){
    top:100%!important;
    right:50%!important;
    transform:translate(210%,-130%)!important;
    -webkit-transform:translate(210%,-130%)!important;
    -moz-transform:translate(210%,-130%)!important;
    -ms-transform:translate(210%,-130%)!important;
    -o-transform:translate(210%,-130%)!important;
} 
     
    :global(.swiper-pagination){ 
    position:relative !important; 
    margin-block:1rem !important; 
    border:1px solid #EAEAEA; 
    padding:0.5rem 1rem; 
    border-radius:40px; 
    width:-ms-fit-content; 
    width:-moz-fit-content; 
    /*Firefox*/ 
    width:fit-content!important; 
    /*MicrosoftEdge*/ 
    margin-inline:auto; 
    } 
     
    :global(.swiper-pagination span){ 
    background-color:var(--main-color) !important; 
    }
}